html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 100px;
}
footer {
    background-color: #ff0000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.contenido{
    margin: 0;
    margin-bottom: 100px;
}

nav{
    background-color: red;
}
.titulo {
    float: left;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    color: white;
}
.autor{
    display: flex;
    align-items: center;
    min-height: 80px;
    margin-left: 45%;
}
.card{
    margin-top: 50px !important;
    width: auto;
}
.texto{
    display: flex;
    position: relative;
}
.texto2{
    margin-top: 8%;
}

.col{
    margin-left: 2%;
}
.boton{
    background: #ff0000 !important;
}
.btn{
    color: white;
}